/* .App {
}

body {
  overflow: hidden;
  height: 100vh;
}

.tracker {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: blue;
  offset-path: path(
    "M141.9,0c-19.8,33.3-42.6,84.5-30.4,139c12.4,55.4,50.3,66.7,53.6,117.6c3.8,60.4-48,70.5-53.5,138.1 c-5.6,68.9,46.4,80.1,47.6,157.3c1.1,74.2-46.8,80.9-46.3,154.7c0.5,75.1,50.3,95.7,48.3,166.6c-0.8,26-8.3,49.3-18.3,69.4"
  );
  offset-distance: 0%;
  offset-rotate: 0deg;
}

.archiveCard {
  width: 20vw;
  height: 20vh;
  border: 8px solid black;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  opacity: 0;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  animation-duration: 2s;
}
#card1 {
  left: 8vw;
  top: 1400px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
*/
div.block {
  width: 100vw;
  height: 80vh;
  overflow-y: scroll;
  border: 2px solid yellow;
  margin: 0;
  padding: 0;
}

#line {
  fill: none;
  stroke: red;
  stroke-width: 2px;
  width: 100%;
  height: 100%;
  position: relative;
  top: 50vh;
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}
ul {
  list-style-type: none;
}

.li {
  margin: 0;
  padding: 0;
}

.trackerRef {
  width: 10px;
  position: relative;
  height: 10px;
  top: 50vh;
  background-color: red;
  border-radius: 50%;
  offset-path: path(
    "M141.9,0c-19.8,33.3-42.6,84.5-30.4,139c12.4,55.4,50.3,66.7,53.6,117.6c3.8,60.4-48,70.5-53.5,138.1 c-5.6,68.9,46.4,80.1,47.6,157.3c1.1,74.2-46.8,80.9-46.3,154.7c0.5,75.1,50.3,95.7,48.3,166.6c-0.8,26-8.3,49.3-18.3,69.4"
  );
  offset-distance: 0%;
  animation: red-ball 2s linear alternate infinite;
  offset-rotate: 0;

}

/* @keyframes red-ball {
  from {
    offset-distance: 0%;
  }
  to {
    offset-distance: 100%;
  }
} */
